/* 
SELECTORES
*
etiqueta: p{}
clase: .clase{}
id: #id{}

*/

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
}

nav ul{
    width: 500px;
    margin: 0 auto;
}

nav li{
    list-style: none;
    float: left;
    padding: 20px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li.active{
    background-color: #00CBF1;
}

header img{
    width: 100%;
}

aside{
    width: 25%;
    float: left;
    border-right: 1px solid grey;
    padding-right: 40px;
}

aside ul{
    list-style: none;
}

aside li{
    border-bottom: 2px dashed grey;
    margin-bottom: 10px;
    padding: 5px 0;
}

aside article{
    margin-bottom: 30px;
}

section{
    width: 70%;
    float: right;
}

section article{
    /*margin-left: 20px;
    margin-bottom: 35px;*/
    margin: 0 0 35px 20px;
    border-bottom: 1px dashed grey;
}

section p{
    margin-bottom: 15px;
    clear:both;
}

section a{
    text-decoration: none;
    color: #73E0F5;
}

section a:visited{
    color: red;
}

section a:hover{
    color: blueviolet;
}

section a:active{
    color: green;
}

section footer{
    padding-bottom: 20px;
}

section header{
    margin-bottom: 40px;
}

section h2{
    margin-bottom: 10px;
}

#pie{
    clear: both;
    background-color: lightgray;
    text-align: center;
    padding: 30px;
    border-top: 1px solid grey;
}

#container{
    width: 80%;
    margin-left: 10%;
}

.fecha{
    float: left;
}

.autor{
    float: right;
}

.clear{
    clear: both;
}